
@{
    Layout = null;
}
@using ShopApplicationByFizo.Models;
@using System;
@using System.Linq;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Character Selection</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/button.css" rel="stylesheet" />
    <style>

        .btn-success {
            color: #ffffff;
        }

        a.my-class {
            color: #333333
        }

            a.my-class:active {
                color: #666666
            }

            a.my-class:link {
                color: #999999
            }

            a.my-class:visited {
                color: #CCCCCC
            }

        .button {
            width: 100px;
            color: #ffffff;
        }
    </style>
</head>
<body>
    @if (Session["auth"] != null)
    {
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">NosMall - NosHeat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="navbar-link"><a href="Connection/Logout">Sign Out</a></li>
                </ul>
            </div>
        </nav>
		using (opennosEntities2 context = new opennosEntities2())
		{
			int id = Convert.ToInt32(Session["auth"]);

			IEnumerable<Character> result = context.Character;
			var product = result.Where(x => x.AccountId == id);
			string astuce = "pas ok";

			foreach (var r in product)
			{
				if (astuce == "pas ok")
				{
					if (r == null)
					{
						<p>Please create a personnage</p>
					        /*
						   TODO : Test it
						*/
						//return;
					}
					astuce = "ok";
                     <p>Please choose a character :</p>
				}
                    <p class="btn btn-success">@Html.ActionLink(r.Name, "Select", "Personnage", new { name = r.Name }, new { @class = "button" })</p>
			}
		}
	}
</body>
</html>
