﻿
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<p>Echec de l'achat</p>
	<script src="~/Scripts/jquery-3.2.1.js"></script>
	<script src="~/Content/bootstrap.js"></script>
	<script>
        window.setTimeout("location=('/Product/Index');", 300);
	</script>
</body>
</html>