.i-large,
.i-medium,
.i-small {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.i-large {
    animation: wind 1s cubic-bezier(0.51, 0.01, 0.63, 0.99) linear infinite alternate;
}

.i-large::after {
    content: '';
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:2000px;
    background: url("../image/snow1.png") repeat 0px 0px;
    animation: fall 10s linear infinite;
}

.i-medium {
    background: url("../image/snow2.png") repeat 0px 0px;
    -webkit-animation: dropFlowParticles 12s linear infinite;
    -o-animation: dropFlowParticles 12s linear infinite;
    animation: fall 12s linear infinite;
}

.i-small {
    background: url("../image/snow3.png") repeat 0px 0px;
    -webkit-animation: dropFlowParticles 27s linear infinite;
    -o-animation: dropFlowParticles 27s linear infinite;
    animation: fall 27s linear infinite;
}

@keyframes fall {
    from {
        transform: translateY(-1000px);
    }
}

@keyframes wind {
    to {
        transform: translateX(50px);
    }
}
