
@{
    Layout = null;
}
@using ShopApplicationByFizo.Controllers;
@using ShopApplicationByFizo.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
</head>
<body>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name of the item</th>
            <th>Price</th>
            <!-- <th>Prix total</th> -->
        </tr>
        @foreach (Item item in (List<Item>)Session["cart"])
        {
            <tr>
                <td>@item.Sh.Id</td>
                <td>@item.Sh.Name</td>
                <td>@item.Sh.Price</td>
                <!-- <td>item.Shopping.Quantity</td> -->
                <!-- <td>item.Shopping.Price * item.Shopping.quantity</td> -->
                @foreach (shopping shop in ViewBag.Products)
                {
                    <th align="center">@Html.ActionLink("Acheter maintenant", "OrderNow", "ShoppingCart", new { vnum = shop.VNum }, null)</th>
                }
            </tr>
        }
    </table>
</body>
</html>
